*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.container{
  height: auto;
}
.containerHead{
  background: #3131eb;
  height: 85px;
  font-family: 'Rajdhani', sans-serif;
}
.containerHead .menu{
  width: 65%;
  height: 100%;
  margin: auto;
}
.containerHead ul{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.containerHead a{
  margin: auto;
  text-decoration: none;
  color: #dcdcdc;
}
.containerHead li{
  width: 120px;
  list-style: none;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  padding: 8px;
}
.containerHead li:hover{
  opacity: 0.6;
}

.containerBody{
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerBody .content{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerBody .content h2{
  margin-top: 20px;
  margin-left: 12px;
  margin-bottom: 30px;
  font-size: 32px;
  text-decoration: underline;
  font-family: 'Rajdhani', sans-serif;
}
.containerBody .content h3{
  margin-left: 12px;
  margin-bottom: 14px;
  font-size: 22px;
  font-family: 'Rajdhani', sans-serif;
}
.containerBody .content p{
  font-size: 20px;
  text-align: justify;
  margin-bottom: 50px;
  font-family: 'Intel', sans-serif;
}
.tech{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.techs li{
  font-size: 22px;
  font-family: 'Intel', sans-serif;
  height: 35px;
}

.containerFooter{
  display: flex;
  height: auto;
  background: #3131eb;
}
.containerFooter .social{
  margin: auto;
  width: 50%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerFooter .social a{
  margin: auto;
  text-decoration: none;
  color: #dcdcdc;
}
.containerFooter .social a li{
  list-style: none;
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
